*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    scroll-behavior: smooth;
    height: 100dvh;
    /*background-color: #ededed;*/
}


.container{
    width: 100%;
    height: 100vh;
    background-color: dodgerblue;
}

.homePage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    top: 30%;
}

.homePage h1{
    color: white;
    font-weight: bold;
}

.homePage h4{
    color: white;
}

.textHomePage{
    margin: 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.formLoginHomePage{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.form{
    width: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    border-radius: 6px;
}

.div-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-logo img{
    width: 180px;
}

.div-logo h2{
    color: black;

}

.div-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-input i{
    color: white;
    background-color: dodgerblue;
    padding: 12px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.div-input input{
    width: 350px;
    height: 40px;
    border: 1px lightgray solid; 
    padding-left: 5px;
    border-radius: 5px;
    outline: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btnLogin{
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}


/******************************************************************************DASHBOARD-PAGE************************************************************************/

header{
    background-color: white;
    box-shadow: 0px 0px 7px gray;
    width: inherit;
    max-width: inherit;
    position: fixed;
    top: 0px;
    z-index: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 64px;
}

.icon-menu{
    cursor: pointer;
}

.logoMedia{
    display: none;
}


.div-icon-user{
    height: 40px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.div-icon-user img{
    width: 35px;  
    height: 100%; 
    background-color: lightgray;
    border-radius: 30px;
    position: relative;
}

ul{
    margin: 5px;
}

.btnAdm ul li{
    color: black;
    list-style: none;
}

.div-icon-bottom{
    margin: 3px;
}

.icon-bottom{
    transform: rotate(-180deg);
}



/*********************************************************************************************************DIV-DASHBOARD**************************************************/

.div-dashboard{
    margin-left: 14%;
    width: 86%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
}

.menu-dashboard{
    background-color: white;
    height: 100%;
    width: 14%;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: width 300ms;
    border-right: 1px lightgray solid;
    box-shadow: 0px 0px 2px dimgray;
}


.logo-menu{
    display: block;
    background-color: black;
    cursor: pointer;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.logo-menu img{
    width: 100%;
}


.menuDad{
    position: relative;
    width: auto;
    display: block;
}

.menuDad div{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    color: dimgray;
}

.menuDad div:nth-child(1){
    color: 	dodgerblue;
}

.menuDad div:hover{
    color: 	dodgerblue;
}


.delete-btn{
    width: 100%;
    list-style: none;
    display: inline-block;
}

.btn-Menu{
    position: relative;
    float: right;
}

/*******************************************Panel-tableauBord************************************************************************************************************/
.panel-tableauBord{
    width: 100%;
    height: 100%;
    display: none;
    /*background-color: #ededed;*/
    padding: 10px;
    flex-direction: column;
}

.panel-tableauBord div{
    margin-bottom: 20px;
}


.Divtext-TableauBord{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
}

.divCard{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.balance-card{
    width: 390px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 6px;
    background-color: #20c997;
    color: white;
}

.balance-card i{
    font-size: 2rem;
}


.utilisateur-card{
    width: 390px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 6px;
    background-color: #ffc107;
    color: white;
}

.balance-card i{
    font-size: 2rem;
}


.prepaye-card{
    width: 390px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 6px;
    background-color: #0dcaf0;
    color: white;
}

.prepaye-card i{
    font-size: 2rem;
}

.profit-card{
    width: 390px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 6px;
    background-color: rgb(230, 48, 78);
    color: white;
}



.profit-card i{
    font-size: 2rem;
}


.divGraph{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    height: 500px;
    flex-direction: column;
}


.divCanvas{
    width:780px;
    height: 100%;
    display:flex;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 2px gray;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.divCanvas1{
    width:780px;
    height: 100%;
    display:flex;
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 2px gray;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

/***********************************************************************************DIV-TABLEAU*****************************************************************/

.divTableau{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: wrap;*/
    padding: 15px;
}

.tableau{
    background-color: white;
    width: 73%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 10px lightgray;
    padding: 15px;
    position: relative;
    top: 0px;
    overflow-x: auto;
}

.tableauGraph{
    width: 25%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px lightgray;
    position: relative;
    
}

#barCanvas2{
    width:100%;
    height: 100%;
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    top: 0px;
  }

  table caption{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    /*background-color: #dddddd;*/
    background-color: white;
    border-bottom: 1px black dotted;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border: none;
  }

  table tr:hover{
    border-collapse: collapse;
    background-color: gray;
    color: white;
    /*background-color: #dddddd;*/
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  td a{
    text-decoration: none;
  }

  .btn-actualisation{
    background-color: green;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin-right: 5px;
    margin: 5px;
  }

  .btn-delete{
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: 5px;
  }

/*******************************************Panel-Ticket***********************************************************************************************************/
.panel-ticket{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blue;
}

/*******************************************Panel-Utilisateur**********************************************/
.panel-utilisateur{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: pink;

}


/*************************************************************PANEL RAPPORT FINANCIER*****************************************************************************/
.panel-RapportFinancier{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: brown;

}

/*************************************************************PANEL PAIEMENT*****************************************************************************/
.panel-paiement{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: yellow;

}

/*************************************************************PANEL GESTION PRODUIT*****************************************************************************/
.panel-gestionProduit{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: purple;

}

/*************************************************************PANEL AGENT*****************************************************************************/
.panel-agent{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: lightgray;

}

/*************************************************************PANEL RESULTAT*****************************************************************************/
.panel-resultat{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: green;

}

/*************************************************************PANEL COMPTE PREPAYE*****************************************************************************/
.panel-comptePrepaye{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: gray;

}



/*****************************************************************MEDIA QUERIES MAX-WIDTH 600********************************************************************/
@media only screen and (max-width: 1400px) {
    .div-dashboard{
        padding: 30px;
        width: 100%;
        margin-left: 0px;
    }

    .menu-dashboard{
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .div-dashboard{
        padding: 30px;
        width: 100%;
        margin-left: 0px;
    }

    /********************************************************MENU******************************************************************/
    .panel-tableauBord{
        width: 100%;
        padding: 0px;
        display: block;
    }
    

    header{
        background-color: white;
        box-shadow: 0px 0px 7px gray;
        width: inherit;
        max-width: inherit;
        position: fixed;
        top: 0px;
        z-index: 300;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        flex-direction: row;
    }
    

    .div-icon-user{
        margin: 3px;
        display: none;
        justify-content: center;
        align-items: center;
    }
    
    .div-icon-user img{
        width: 60px;   
        background-color: orange;
        border-radius: 30px;
        position: relative;
    }
    
    ul{
        margin: 5px;
    }
    
    .btnAdm ul li{
        color: black;
        list-style: none;
    }
    
    .div-icon-bottom{
        margin: 3px;
    }
    
    .icon-bottom{
        transform: rotate(-180deg);
    }

    .logoMedia{
        display: block;
        background-color: black;
    }
    
    .logoMedia img{
        width: 190px;
        cursor: pointer;
    }
    



    /***********************************************************************************************************************************************/
    .div-dashboard{
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .Divtext-TableauBord{
        width: 95%;
        margin: auto;
    }
        
    

    .divCard{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px;
    }

    .divCard div{
        width: 95%;
    }

    .divGraph{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .divCanvas{
        border: none;
        width: 95%;
    }

    .divCanvas1{
        border: none;
        width: 95%;
    }
    
/***************************************************************************************************/    


    .divTableau{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .tableau{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
        align-items: center;
        position: relative;
        border-radius: 0px;
        box-shadow: none;
        overflow-y: scroll;
        
    }


    .tableauGraph{
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: white;
        
    }
    
    #barCanvas2{
        width: 100%;
        height: 100%;
    }
    

}